.todo-item {
  position: relative;
  width: 40rem;
  background-color: #957ca5;
  border-radius: 1rem;
  padding: 0.1rem 0.6rem 0.1rem 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  margin-bottom: 2.5rem;
}

.todo-item-actions {
  display: flex;
  margin-left: 1rem;
}

.todo-item-actions p,
.todo-item-actions i {
  margin: 0;
}

.todo-item-text {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.executed {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 4.8rem;
  left: 0;
  border-bottom-color: #57db57;
  border-bottom-width: 0.4rem;
  border-bottom-style: solid;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  width: 40rem;
}

.todo-item-actions .star {
  padding: 10px 0;
  margin-right:2.5rem;
  cursor: pointer;
  z-index: 100;
}

.todo-item-actions .delete {
  padding: 10px 0;
}

.todo-item-actions .star.stared {
  color: #ffff00;
  transform: scale(1.2);
}

p label span {
  color: white;
  top: 10px;
  margin-right: -5px;
}

.stared {
  cursor: pointer;
}

.open {
  transform: scale(1.3);
  position: absolute;
  left: 0.5rem;
  cursor: pointer;
  z-index: 100;
  bottom: -1.8rem;
}

.add {
  position: absolute;
  left: 2.3rem;
  cursor: pointer;
  z-index: 100;
  bottom: -1.8rem;
}

.delete {
  transform: scale(1.2);
  position: absolute;
  cursor: pointer;
  color: #e02828;
  right: 0.5rem;
  z-index: 99;
}

.next {
  margin-left: 4rem;
}

.prefix {
  cursor: pointer;
  margin-right: 1rem;
}

.edit{
  z-index: 1000;
}
